<div class="offset__wrapper">    
    <!-- lateral del carrito de compras -->
    <div class="shopping__cart ">
        <div class="shopping__cart__inner">
            {{#if session.cart.totalItems }}
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                {{#each session.cart.items }}
                <div class="shp__cart__wrap">
                    
                    <div class="shp__single__product">
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">{{ this.item.nombre }}</a></h2>
                            <span class="quantity">QTY: {{ this.quantity }}</span>
                            <span class="shp__price">${{ this.precio }} CLP</span>
                        </div>
                        <div class="remove__btn">
                            {{!-- <a href="/remove/{{this.item.id}}"><i class="zmdi zmdi-close"></i></a> --}}
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="row">
                    <div class="text-right">
                        <div class="totalPrice">Total: ${{ session.cart.totalPrice}} CLP</div>
                        <a href="/carrito_productos" class="btn btn-success">comprar</a>
                    </div>
                </div>
            
            {{/if}}
        </div>
    </div>
    <!-- End Cart Panel -->
</div>